/* Основной цвет текста #021112 
Вторичный цвет текста #677071
Цвет акцента #13A6BA
Цвет фона #FBEDDA 
Цвет фона2 #ffffff */

:root{
    --primary-text-color:#021112;
    --second-text-color: #677071;

    --background-color1:#FBEDDA;
    --background-color2:#ffffff;

    --accent-color1:#13A6BA;

    --anti-accent-color1:#CCCFD0;
}

body{
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    color:var(--primary-text-color);
    background-color:var(--background-color2);
}

.header{
    background-color:var(--background-color1);
}
/* page nav */
.list{
    list-style:none;
}
.link{
    color:var(--primary-text-color);
}

.header-link:hover,
.header-link:focus{
    color:var(--accent-color1);
}

 /* batton */
.button{
    color:var(--background-color2);
    background-color:var(--accent-color1);
}

.button.secondary{
    color:var(--accent-color1);
    background-color:var(--background-color2);
}
/*  */
.hero{
    background-color:var(--background-color1);
}
.hero-title{
    font-family: 'Noto Serif', serif;
    font-weight: 800;
}
.hero-after-title{
    color:var(--second-text-color);
}


.properties-text{
    color:var(--second-text-color);
}

/* properties button */
.key{
    color:var(--anti-accent-color1);
}
.key.primary{
    color:#772D8B;
}
/*  */
.properties-article-text{
    color:var(--second-text-color);
}

.properties-item-list{
    color:var(--anti-accent-color1);
}

.benefit .text{
    color:var(--second-text-color);
}



.diego .text{
    color:var(--second-text-color);
}


.comment{
    background-color:var(--background-color1);
}

.comment .text-accent{
    color:var(--accent-color1);
}

.comment .text{
    color:var(--second-text-color);
}

.conn .text{
    color:var(--second-text-color);
}


.footer .text{
    color:var(--second-text-color);
}
 .footer .link{
    color:var(--primary-text-color);
 }




