/* Основной цвет текста #021112 
Вторичный цвет текста #677071
Цвет акцента #13A6BA
Цвет фона #FBEDDA 
Цвет фона2 #ffffff */

:root{
    --primary-text-color:#021112;
    --second-text-color: #677071;

    --background-color1:#FBEDDA;
    --background-color2:#ffffff;

    --accent-color1:#13A6BA;

    --anti-accent-color1:#CCCFD0;
}

body{
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    color:var(--primary-text-color);
    background-color:var(--background-color2);
}

.header{
    background-color:var(--background-color1);
}
/* page nav */
.list{
    list-style:none;
}
.link{
    color:var(--primary-text-color);
}
.header-link{
    font-size: 18px;
    line-height: 1.6;
    text-decoration: none;
}

.header-link:hover,
.header-link:focus{
    color:var(--accent-color1);
}

.header-button{
    color:var(--background-color2);
    background-color: var(--accent-color1);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.45;
    text-decoration: none;
}

 /* batton */
.button{
    color:var(--background-color2);
    background-color:var(--accent-color1);
}

.button.secondary{
    color:var(--accent-color1);
    background-color:var(--background-color2);
}
/*  */
.hero{
    background-color:var(--background-color1);
}
.hero-title{
    font-weight: 800;
    font-size: 80px;
    line-height: 1.3;
    text-align: center;
}
.hero-after-title{
    color:var(--second-text-color);
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
}

.properties-title{
    font-weight: 700;
    font-size: 58px;
    line-height: 1.57;
}

.properties-text{
    color:var(--second-text-color);
    font-size: 18px;
    line-height: 1.6;
}

/* properties button */
.key{
    color:var(--anti-accent-color1);
}
.key.primary{
    color:#772D8B;
}
/*  */
.properties-article-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 1.63;
}

.properties-article-text{
    color:var(--second-text-color);
    font-size: 18px;
    line-height: 1.6;
}
.properties-price{
    font-weight: 700;
    font-size: 58px;
    line-height: 1.57;
}

.text2{
    color:var(--anti-accent-color1);
    font-size: 18px;
    line-height: 1.6;
}

.properties-button{
    color:var(--background-color2);
    background-color:var(--accent-color1);
    font-weight: 600;
    font-size: 28px;
    line-height: 1.03;
    text-decoration: none;

    text-align: center;

}

.properties-button2{
    color:var(--accent-color1);
    background-color:var(--background-color2);
    font-weight: 600;
    font-size: 28px;
    line-height: 1.03;
    text-decoration: none;
    
    text-align: center;
}
/* */

.benefit-text{
    color:var(--second-text-color);
}



.diego-text{
    color:var(--second-text-color);
}

.diego-item-title{
    color:var(--second-text-color);
}


.comment{
    background-color:var(--background-color1);
}

.comment .text-accent{
    color:var(--accent-color1);
}

.comment .text{
    color:var(--second-text-color);
}

.conn .text{
    color:var(--second-text-color);
}


.footer .text{
    color:var(--second-text-color);
}
 .footer .link{
    color:var(--primary-text-color);
 }




